<div class="navbar-wagon">
  <!-- Logo -->
  <div class="nav-item">
    <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.png' %>
    </a>
    <div class="wrap shop-item">
      <div class="search">
      <form action="" method="GET">
          <input type="text" name="search" class="searchTerm" placeholder="Search...">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-none d-md-block">

    <% if user_signed_in? %>

      <a href="/cocktails" class="navbar-wagon-item navbar-wagon-link">Show cocktails</a>
      <a href="/cocktails/new" class="navbar-wagon-item navbar-wagon-link" id="add-button">Add cocktail</a>
      <a href="/cocktails/random" class="navbar-wagon-item navbar-wagon-link">Random Drink</a>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item d-md-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/cocktails">Show cocktails</a></li>
        <li><a href="/cocktails/new">Add cocktail</a></li>
        <li><a href="/cocktails/random">Random Drink</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="navbar-wrapper"></div>
