<div class="navbar-wagon">
  <!-- Logo -->
  <div class="nav-item">
    <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.png' %>
    </a>
    <div class="wrap shop-item">
      <div class="search">
      <form action="" method="GET">
          <input type="text" name="search" class="searchTerm" placeholder="Search...">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-none d-md-block">

    <% if user_signed_in? %>

      <a href="/tests" class="navbar-wagon-item navbar-wagon-link">Homepage</a>
      <a href="/contato" class="navbar-wagon-item navbar-wagon-link" id="add-button">Contato</a>

      <!-- Avatar with dropdown menu -->
        <span class="navbar-wagon-item navbar-wagon-link dropdown">
          <a href="" class="dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">Minha Conta</a>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "/users/dashboard" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </span>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>

<!-- Dropdown appearing on mobile only -->
  <div class="dropdown navbar-wagon-item d-md-none">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a href="/tests">Homepage</a></li>
      <li><a href="/contato">Contato</a></li>
      <li><a href="/users/dashboard">Minha Conta</a></li>
    </ul>
  </div>
</div>
<div class="navbar-wrapper"></div>
