<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <h1>Test: <%= @review.test.name%></h1>
          <br>
          <h6>Review made by <%= @review.user.email %></h6>
          <div class= "list-inline">
          <h3 class= "font-size-h3">Description:
          <%= @review.issue_description %>
            <div class= "list-inline">
            <h3 class= "font-size-h3">User Score:
              <%= @review.issue_score %>
            </h3>
            <br>
          <% if @review.screenshot.url %>
             <%= image_tag(@review.screenshot.url(:thumb)) %>
             <% end %>
             <p></p>
          <br>
          <%= link_to "New Review", new_test_path, class: "btn-purple" %>
          <br>
          <br>
          <h3 class= "font-size-h3"> Review another web app and continue earning!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
