<% if user_signed_in? %>
  <div class="banner">
    <div class="banner-content">
      <div class="banner-card">
        <h3>Tester</h3>
        <h5>I want to earn money testing apps!</h5>
        <%= link_to "Start now", new_test_path, class: "btn-purple" %>
      </div>
  </div>
  <div class="banner-content">
    <div class="banner-card">
      <h3>Company</h3>
      <h5>I want to test my web app!</h5>
      <%= link_to "Create Test", new_test_path, class: "btn-purple" %>
    </div>
  </div>
</div>
<div class="search-wrapper text-center">
  <%= form_tag tests_path, method: :get, class: 'form-inline' do %>
    <div class="form-group">
      <%= search_field_tag :price, params[:price],
        placeholder: 'R$5,00',
        size: 20,
        class: 'form-control searchTerm' %>
      <%= search_field_tag :company, params[:company],
      placeholder: 'iFood',
      size: 30,
      class: 'form-control searchTerm' %>
      <div class="search-btn">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <% @tests.each do |test| %>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="test-card">
          <h2 class="test-card-title text-center"><%= test.company%></h2>
          <div class="test-card-content">
            <p><strong>Price-per-review: </strong><%= number_to_currency(test.review_price_cents/100.00, unit: "R$") %></p>
            <p><strong>Price-per-bug: </strong><%= number_to_currency(test.issue_price_cents/100.00, unit: "R$") %></p>
            <div class="test-card-description">
              <p><%= test.description %></p>
            </div>
          </div>
          <%= link_to "Learn more", test_path(test), class: "btn-purple test-card-button" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
<% else %>
  <div class="banner banner-large">
    <div class="banner-content">
      <div class="container">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-purple" %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-purple" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end%>


